<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
</head>
<style type="text/css" id="style1">
.grade-eng {
	width: 98%;
	height: 100%;
	background-color: #fff;
	padding-top: 30px;
	margin:0 auto;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	font-size: 9px;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
</style>
<body>
	<!-- 英文成绩表单 开始  -->
	<div class="grade-eng">
		<div class='swiper-container'>
			<div class='swiper-wrapper'>
				<div class='swiper-slide'>
					<table
						style="margin: 0 auto; width: 100%; empty-cells: show; border-collapse: collapse; table-layout: fixed; border: 3px solid #000; color: #000;">
						<tr style="display: none">
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>

							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>

							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>


							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
							<td style='width: 20px; height: 0px; border: 0;'></td>
						</tr>
						<tr>
							<td colspan="4"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: 600; font-family: '黑体'">Name</td>
							<td colspan="4"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: nomal;"></td>

							<td colspan="4"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: 600; font-family: '黑体'">Gender</td>
							<td colspan="5"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: nomal;"></td>

							<td colspan="3" rowspan="4"
								style="text-align: center; border: 2px solid #000; height: 130px;"><img
								style="width: 100%; height: 130px; " /></td>
						</tr>
						<tr>
							<td colspan="4"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: 600; font-family: '黑体'">Student
								Number</td>
							<td colspan="4"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: nomal;"></td>

							<td colspan="4"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: 600; font-family: '黑体'">Class</td>
							<td colspan="5"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: nomal;"></td>
						</tr>
						<tr>
							<td colspan="4"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: 600; font-family: '黑体'">Specialty</td>
							<td colspan="4"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: nomal;"></td>

							<td colspan="4"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: 600; font-family: '黑体'">Shcool</td>
							<td colspan="5"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: nomal;"></td>
						</tr>
						<tr>
							<td colspan="4"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: 600; font-family: '黑体'">Date
								of Enrollment</td>
							<td colspan="4"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: nomal;"></td>

							<td colspan="4"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: 600; font-family: '黑体'">
								Date of Granduation</td>
							<td colspan="5"
								style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: nomal;"></td>
						</tr>
					</table>
					<table
						style="margin: 0 auto; width: 100%; empty-cells: show; border-collapse: collapse; table-layout: fixed; border: 3px solid #000; border-top: 0; color: #000;">
						<thead>
							<tr>
								<th colspan="10"
									style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: 600; font-family: '黑体'">Course
									Titles</th>
								<th colspan="2"
									style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: 600; font-family: '黑体'">credit</th>
								<th colspan="2"
									style="text-align: center; border: 2px solid #000; height: 25px; line-height: 25px; font-size: 12px; font-weight: 600; font-family: '黑体'">Mark</th>
								<th colspan="2"
									style="text-align: center; border: 2px solid #000; font-size: 12px; font-weight: 600; font-family: '黑体'; height: 25px; line-height: 25px">Course
									Nature</th>
								<th colspan="2"
									style="text-align: center; border: 2px solid #000; font-size: 12px; font-weight: 600; font-family: '黑体'">Term</th>
							<tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
			<div class="swiper-scrollbar"></div>
		</div>
	</div>

	<!-- 英文成绩表单 结束 -->
</body>
<script>
	$(function() {
		$(".grade-eng table td:eq(21)").html(app.user_info.XsXj.ywxm);
		$(".grade-eng table td:eq(23)").html(app.user_info.XsXj.ywxb);
		$(".grade-eng table td:eq(26)").html(app.user_info.XsXj.xh);
		$(".grade-eng table td:eq(28)").html(app.user_info.XsXj.bjh);
		$(".grade-eng table td:eq(30)").html(app.user_info.XsXj.ywzym);
		$(".grade-eng table td:eq(32)").html(app.user_info.XsXj.ywxsm);
		$(".grade-eng table td:eq(34)").html(app.user_info.XsXj.rxrq);
		$(".grade-eng table td:eq(36)").html(app.user_info.XsXj.byrq);
		$(".grade-eng table td img").attr("src","data:image/jpg;base64," +app.user_info.XsZp);
		var tmp = "<tr>";
		var i = 0;
		var cet4=app.user_info.cet4;
		for (; i < app.user_info.XsCj.length; i++) {
				tmp += "<td  colspan='10' style='text-align: left;font-size:"
						+ (app.user_info.XsCj[i].ywkcm.length>56?7:9) + "px;padding-left:20px;height:20px;line-height:10px;border: 2px solid #000;'>"
						+ app.user_info.XsCj[i].ywkcm + "</td>";
				tmp += "<td colspan='2' style=\"text-align: center; height:20px;line-height:20px;border: 2px solid #000; font-size: 9px;\">" + app.user_info.XsCj[i].xf + "</td>";
				tmp += "<td colspan='2' style=\"text-align: center; height:20px;line-height:20px;border: 2px solid #000; font-size: 9px;\">" + (app.user_info.XsCj[i].cjlrfsdm=="002"?app.user_info.XsCj[i].ywdjm:app.user_info.XsCj[i].kccj)
						+ "</td>";
				tmp += "<td colspan='2' style=\"text-align: center; height:20px;line-height:20px;border: 2px solid #000; font-size: 9px;\">" + app.user_info.XsCj[i].ywkcsxmc
						+ "</td>";
				tmp += "<td colspan='2' style=\"text-align: left;text-indent:26px; height:20px;line-height:20px;border: 2px solid #000; font-size: 9px;\">" + app.user_info.XsCj[i].ywksxq
						+ "</td>";
				tmp += "</tr>";
		}
		$(".grade-eng table:eq(1) tbody").append(tmp);
		var swiper = new Swiper('.swiper-container', {
			scrollbar : '.swiper-scrollbar',
			direction : 'vertical',
			slidesPerView : 'auto',
			mousewheelControl : true,
			freeMode : true
		});
	})
</script>
</html>